* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url(backgroundimage.jpg);
    background-size: cover;
}
/*Formatting for the header content */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: plum;
    color: black;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.header h1 {
    background: linear-gradient(to right, rgb(220, 72, 176), rgb(222, 136, 202), rgb(189, 29, 184), rgb(169, 19, 180), rgb(248, 121, 243), indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 25s linear infinite;
    display: inline-block;
    font-size: 48px;
    
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
html{
    font-size: 30px;
}
.about-me-container {
display:flex

}

.about-me-container p{
    margin-left:80px;
    margin-right: 80px;
}
.image img {

    border: pink solid ;
    height:200px;
    width: 150px;  
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.image-grid{
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}
.image-grid img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
@media screen and (max-width: 1024px){
    .image-grid{
        --num-cols:2;
        --row-height: 200px;
    }

    
}